{% extends "base.html" %}
{% load static %}

{% block extra_css %}
{% endblock %}


{% block page_header %}
{% endblock %}

{% block content %}
<div class="container">
    <div class="row showtime-hero">
        <img class="showtime-image w-100" src="{{ event.image_hero.url }}" alt="">
        <div class="showtime-overlay"></div>
        <div class="showtime-description">
            <h2 class="text-light">{{ event.name }}</h5>
        </div>
    </div>

    <div class="row my-3">
        {% for showtime in showtimes %}
        <div class="col-12 col-lg-4 mx-auto">
            <h5>{{ showtime.date }}</h5>
            <h5>{{ showtime.time }}</h5>
        </div>
        <div class="col-12 col-lg-4 mx-auto">
            <h5>{{ showtime.venue }}</h5>
        </div>
        <div class="col-12 col-lg-4 mx-auto">
            <button>Buy Tickets</button>
        </div>
        {% endfor %}   
    </div>
</div>
{% endblock %}

{% block postloadjs %}
{% endblock %}