{% extends "base.html" %}
{% load static %}

{% block extra_css %}
{% endblock %}

{% block content %}
<div class="container py-3">
    
    <div class="showtime-hero d-none d-lg-block">
        {% if event.image_hero %}
        <img class="showtime-image w-100" src="{{ event.image_hero.url }}" alt="{{ event.name }}">
        {% else %}
        <img class="showtime-image w-100" src="{{ MEDIA_URL }}no-image-hero.jpg" alt="{{ event.name }}">
        {% endif %}
        <div class="showtime-overlay"></div>
        <div class="showtime-description text-light p-2">
            <h2>{{ event.name }}</h2>
            <p>{{ event.date_start}} - {{ event.date_end}}</p>
            <p>{{ event.run_time}} Minutes</p>
            <button type="button" class="btn btn-outline-light" data-bs-toggle="modal" data-bs-target="#showtimeModal">
                <span class="icon">
                    <i class="fas fa-arrow-right"></i>
                </span>
                More Info
            </button>
            {% if user.is_authenticated %}
            {% else %}
            <p class="mt-1 mb-0">
                <a class="text-info" href="{% url 'account_signup' %}">Create an account</a> or
                <a class="text-info" href="{% url 'account_login' %}">login</a> to buy a ticket!
            </p>
            {% endif %}
        </div>
    </div>

    <div class="row d-block d-lg-none">
        <div class="card mx-auto px-0 text-dark">
            {% if event.image_hero %}
            <img class="w-100" src="{{ event.image_hero.url }}" alt="{{ event.name }}">
            {% else %}
            <img class="w-100" src="{{ MEDIA_URL }}no-image-hero.jpg" alt="{{ event.name }}">
            {% endif %}
            <div class="card-body">
              <h5 class="card-title">{{ event.name }}</h5>
              <p class="card-text">{{ event.date_start}} - {{ event.date_end}}</p>
              <p class="card-text">{{ event.run_time}} Minutes</p>
              <button type="button" class="btn btn-outline-dark rounded-0" data-bs-toggle="modal" data-bs-target="#showtimeModal">
                <span class="icon">
                    <i class="fas fa-arrow-right"></i>
                </span>
                More Info
            </button>
            {% if user.is_authenticated %}
            {% else %}
            <p class="mt-1 mb-0">
                <a class="text-info" href="{% url 'account_signup' %}">Create an account</a> or
                <a class="text-info" href="{% url 'account_login' %}">login</a> to buy a ticket!
            </p>
            {% endif %}
            </div>
          </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="showtimeModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-dark" id="showtimeModal"><b>{{ event.name }}</b></h5>
                    <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal">
                        <span class="icon">
                            <i class="fas fa-times"></i>
                        </span>
                    </button>
                </div>
                <div class="modal-body text-dark">
                    <p>{{ event.description_short}}</p>
                    <p>{{ event.description_long}}</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
  
    {% for showtime in showtimes %}
    <div class="row my-2 mt-md-4 mb-md-5 py-4 showtime-content text-light">
        <div class="col-12 col-md-4 mx-auto my-auto text-center">
            <h5>Date: {{ showtime.date }}</h5>
            <h5>Time: {{ showtime.time }}</h5>
        </div>
        <div class="col-12 col-md-4 mx-auto my-auto text-center">
            <h5 class="showtime-venue-text">Venue</h5>
            <div class="decoration-line"></div>
            <h5 class="showtime-venue-text">{{ showtime.venue }}</h5>
        </div>
        <div class="col-12 col-md-4 mx-auto my-auto text-center">
            {% if request.user.is_authenticated %}
            <a href="{% url 'booking' showtime.id %}" type="button" class="btn btn-outline-light">Buy Tickets</a>
            {% if request.user.is_superuser %}
            <small class="ml-3">
                <a class="text-light" href="{% url 'edit_showtime' showtime.id %}">Edit</a> | 
                <a class="text-light" href="{% url 'delete_showtime' event.id %}">Delete</a>
            </small>
            {% endif %}
            {% else %}
            <a href="{% url 'account_signup' %}" type="button" class="btn btn-outline-light">Sign Up</a>
            {% endif %}
        </div> 
    </div>
    {% endfor %}  
</div>
{% endblock %}