{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'home/css/carousel.css' %}">
{% endblock %}


{% block page_header %}
{% endblock %}

{% block content %}
<div class="carousel" data-carousel>
    <div class="carousel-buttons">
      <button class="carousel-button carousel-button_previous" data-carousel-button-previous>
        <span class="icon">
          <i class="fas fa-chevron-left"></i>
        </span>
      </button>
      <button class="carousel-button carousel-button_next" data-carousel-button-next>
        <span class="icon">
          <i class="fas fa-chevron-right"></i>
        </span>
      </button>
    </div>
    <div class="slides" data-carousel-slides-container>
      <div class="slide hero-one">
        <!-- Any Content -->
      </div>
      <div class="slide hero-two">
        <!-- Any Content -->
      </div>
      <div class="slide hero-three">
        <!-- Any Content -->
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
    </div>
</div>
{% endblock %}

{% block postloadjs %}
    <script src="{% static 'home/js/carousel.js' %}"></script>
{% endblock %}