{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'home/css/carousel.css' %}">
{% endblock %}


{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="carousel" data-carousel>
    <div class="carousel-buttons">
      <button class="carousel-button carousel-button_previous" data-carousel-button-previous>
        <span class="fas fa-chevron-circle-left"></span>
      </button>
      <button class="carousel-button carousel-button_next" data-carousel-button-next>
        <span class="fas fa-chevron-circle-right"></span>
      </button>
    </div>
    <div class="slides" data-carousel-slides-container>
      <div class="slide hero-one">
        <!-- Any Content -->
        <h2>Slide 1 heading</h2>
        <p>Slide 1 content
      </div>
      <div class="slide hero-two">
        <!-- Any Content -->
        <h2>Slide 2 heading</h2>
        <p>Slide 2 content
      </div>
    </div>
  </div>
{% endblock %}

{% block postloadjs %}
    <script src="{% static 'home/js/carousel.js' %}"></script>
{% endblock %}