{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'booking/css/jquery.seat-charts.css' %}">
<link rel="stylesheet" href="{% static 'booking/css/booking-payment.css' %}">
{% endblock %}

{% block extra_js %}
<script src="{% static 'booking/js/jquery.seat-charts.js' %}"></script>
{% endblock %}

{% block page_header %}
{% endblock %}

{% block content %}
<!-- Seats -->
<div class="container">
  <div class="row">
    <div class="col-12 col-lg-8">
      <div id="seat-map">
        <div class="front-indicator">Front</div>
      </div>
    </div>

    <!-- Order Summary -->
    <div class="col-12 col-lg-4">

      <div class="booking-details">
        <h2>Booking Details</h2>
        <h3> Selected Seats (<span id="counter">0</span>):</h3>
        <ul id="selected-seats">
        </ul>
        Total: <b>£<span id="total">0</span></b>
        <a id="checkout-button" class="checkout-button" href="{% url 'payment' showtime.id %}">Checkout &raquo;</a>
        <div id="legend"></div>
      </div>
    </div>
  </div>
</div>

      

{% endblock %}

{% block postloadjs %}
{{ block.super }}

{{ seat_map|json_script:"seat_map" }}
{{ seat_taken|json_script:"seat_taken" }}
{{ ticket_price|json_script:"ticket_price" }}

<script src="{% static 'booking/js/jquery.seat-charts.setup.js' %}"></script>
{% endblock %}