{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'booking/css/booking-payment.css' %}">
{% endblock %}

{% block extra_js %}
{% endblock %}

{% block page_header %}
{% endblock %}

{% block content %}
<div class="container text-dark">
    <div class="row">
        <div class="col-12 col-lg-8">
            <hr>
            <h2 class="mb-4">Thank You</h2>
            <hr>
            <p class="text-black">Your booking information is below and visible in your profile. A confirmation email
                will be sent to <strong>{{ booking.email }}</strong>. Please show your digital booking at the door.</p>
            <div class="order-confirmation-wrapper p-2 border">
                <div class="row">
                    <div class="col">
                        <small class="text-muted">Booking Info:</small>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="mb-0 text-black font-weight-bold">Booking Number</p>
                    </div>
                    <div class="col-12 col-md-8 text-md-right">
                        <p class="mb-0">{{ booking.booking_number }}</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="mb-0 text-black font-weight-bold">Booking Date</p>
                    </div>
                    <div class="col-12 col-md-8 text-md-right">
                        <p class="mb-0">{{ booking.date }}</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <small class="text-muted">Booking Details:</small>
                    </div>
                </div>

                <div class="row">
                    {% for element in booking.seat_number }
                    <div class="col-12 col-md-8 text-md-right">
                        <p class="mb-0">Seat: {{ element }}</p>
                    </div>
                    {% endfor %}
                </div>

                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="mb-0 text-black font-weight-bold">Full Name</p>
                    </div>
                    <div class="col-12 col-md-8 text-md-right">
                        <p class="mb-0">{{ booking.full_name }}</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="mb-0 text-black font-weight-bold">Phone Number</p>
                    </div>
                    <div class="col-12 col-md-8 text-md-right">
                        <p class="mb-0">{{ booking.phone_number }}</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <small class="text-muted">Billing Info:</small>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="mb-0 text-black font-weight-bold">Order Total</p>
                    </div>
                    <div class="col-12 col-md-8 text-md-right">
                        <p class="mb-0">{{ booking.booking_total }}</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 col-lg-4">
            <div class="card m-3" style="width: 90%;">
                <img src="{{ booking.showtime.event.image_normal.url }}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h2 class="card-title">{{ booking.showtime.event.name }}</h2>
                    <hr>
                    <p class="card-text">Date: {{ booking.showtime.date }}</p>
                    <p class="card-text">Time: {{ booking.showtime.time }}</p>
                    <p class="card-text">Venue: {{ booking.showtime.venue }}</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}