html {
    height: 100%;
}

body {
    color: blue;
    font-family: 'Quicksand', sans-serif;
}

/* from Bulma */

header {
    background-color: #bc40ff;
    padding: 10px 0px;
    background-image: linear-gradient(90deg, rgb(188, 44, 215), rgb(188, 64, 255), rgb(188, 44, 215));
}

.icon {
    color: #f8f9fa !important;
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    text-transform: lowercase;
    font-style: italic;
}

.main-logo-link {
    width: fit-content;
}

.nav-item {
    font-weight: 600;
    text-decoration: none;
    padding: 0px 10px;
}

.transparent {
    background-color: transparent;
}

.btn-outline-secondary:hover,
.btn-outline-secondary:active,
.btn-outline-secondary:focus
{
    background-color: transparent !important;
    box-shadow: unset !important;
}

::placeholder {
    color: rgba(248, 249, 250, 0.5) !important;
}

/*
.btn-purple {
    background: #bc40ff;
    color: white;
}

.text-purple{
    color: #bc40ff !important;
}
*/

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}

