html {
    height: 100%;
}

body {
    color: blue;
    font-family: 'Quicksand', sans-serif;
    
    min-height: 100%;

    display: flex;
    flex-direction: column;
}

.overlay {
    visibility: hidden;
    z-index: 4;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    transition: none;
}

/* ========== Header ========== */

header {
    background-color: #bc40ff; /* Consider mixing the colors up here #ff0d62 #ffaa0d */
    background-image: linear-gradient(90deg, rgb(188, 44, 215), rgb(188, 64, 255), rgb(188, 44, 215));
    padding-top: 10px;
}

.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    text-transform: lowercase;
    font-style: italic;
}

.main-logo-link {
    width: fit-content;
}

.nav-item {
    font-weight: 400;
    text-decoration: none;
    border-bottom: 0px solid rgb(248, 249, 250, 1);
    padding: 0px 10px;
}

.transparent {
    background-color: transparent;
}

#searchbutton {
    z-index: 0;
}

.search-border {
    border-radius: 4px;
    border: 1px solid rgba(248, 249, 250, 0.7);
    background-color: rgba(248, 249, 250, 0.12);
}

#search::placeholder {
    color: rgba(248, 249, 250, 0.5) !important;
}

#search:focus::placeholder {
    color: rgba(33, 37, 41, 0.5) !important;
}

.form-control:focus {
    color: #212529 !important;
    background-color: transparent;
    outline: 0;
    box-shadow: none;
}

.btn-outline-secondary {
    border-top-left-radius: 4px !important;
    border-bottom-left-radius: 4px !important;
    color: #f8f9fa;
    border: none;
    font-size: 1.25rem;
}

.btn-outline-secondary:hover,
.btn-outline-secondary:active,
.btn-outline-secondary:focus {
    background-color: #bc40ff;
    color: #f8f9fa !important;
    box-shadow: unset;
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.176));
}


.btn-purple {
    background: #bc40ff;
    color: white;
}

.text-purple {
    color: #bc40ff !important;
}

.text-dark {
    color: #212529 !important;
}

#signInRegister {
    margin-bottom: 0rem;
}

.dropdown-item:active {
    background-color: #bc40ff;
}


/* ========== Footer ========== */

footer {
    background-color: #430067;
    margin-top: auto;
}

footer a {
    text-decoration: none;
}

.decoration-line {
    flex: auto;
    height: 1px;
    border-bottom: 1px solid #f8f9fa;
}

.copyright {
    font-size: 0.75rem;
}

.footer-link {
    font-weight: 600;
    border-bottom: 0px solid rgb(248, 249, 250, 1);
    padding: 0px 10px;
}

/* ========== Sidebar ========== */

.sidebar {
    z-index: 5;
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    top: 0;
    left: 0;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 30px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
}

.btn-toggle:hover,
.btn-toggle:focus {
    background-color: rgba(188, 64, 255, 0.2);
}

.btn-toggle::before {
    font-family: "Font Awesome 5 Free";
    content: "\f105";
    display: inline-block;
    vertical-align: middle;
    font-weight: 900;
    line-height: 0;
    transition: transform .35s ease;
}

.btn-toggle[aria-expanded="true"]::before {
    transform: rotate(90deg);
}

.btn-toggle-nav {
    padding-top: 5px;
}

.btn-toggle-nav a {
    border-radius: 5px;
    padding: .1875rem .5rem;
    margin-top: .125rem;
    margin-left: 1.25rem;
}

.btn-toggle-nav a:hover,
.btn-toggle-nav a:focus {
    background-color: rgba(188, 64, 255, 0.2);
}

.sidebar a {
    width: 100%;
}

.event-nav {
    height: 0;
    overflow-y: hidden;
}

.account-nav {
    height: 0;
    overflow-y: hidden;
}

.sidebar-m-1 {
    margin-left: 10px;
}


.sidebar-m-2 {
    margin-left: 22px;
}

.btn-position {
    position: absolute;
    top: 0;
    right: 5px;
    font-size: 25px;
    margin-left: 50px;
  }

/* ========== Events ========== */

.event-description {
    background-color: #bc40ff;
    background-image: linear-gradient(90deg, rgb(188, 44, 215), rgb(188, 64, 255), rgb(188, 44, 215));
    border-radius: 0 0 0.2rem 0.2rem;
}

/* ========== Showtimes ========== */

.showtime-hero {
    position: relative;
    max-width: 100%;
}

.showtime-image {
    position: block;
    max-width: 100%;
}

.showtime-overlay {
    position: absolute;
    z-index: 1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    clear: float;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    color: #ffffff;
}

.showtime-description {
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 0%;
    transform: translate(-15%,-50%);
    background-color: #bc40ff;
    background-image: linear-gradient(90deg, rgb(188, 44, 215), rgb(188, 64, 255), rgb(188, 44, 215));
    border-radius: 0.2rem;
}

.btn-outline-light:hover {
    color: #bc40ff;
    background-color: #f8f9fa;
    border-color: #f8f9fa;
}

.btn-close {
    opacity: 1;
}

.btn-close:hover {
    color: #bc40ff;
    text-decoration: none;
    opacity: 1;
}

.showtime-content {
    background-color: #bc40ff;
    background-image: linear-gradient(90deg, rgb(188, 44, 215), rgb(188, 64, 255), rgb(188, 44, 215));
    border-radius: 0.2rem;
}

.showtime-venue-text {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
}

/* ========== Toasts ========== */

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 9999999999;
}

.toast {
    width: 350px;
    max-width: 100%;
    font-size: .875rem;
    pointer-events: auto;
    background-color: rgba(255,255,255,1);
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.1);
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
    border-radius: .25rem;
}

/* ========== Allauth Form Formatting ========== */

.allauth-form-inner-content p {
    margin-top: 1.5rem; /* mt-4 */
    color: #212529; /* text-secondary */
}

.allauth-form-inner-content h2, hr {
    color: #212529;
}

.allauth-form-inner-content input {
    border-color: #000;
    border-radius: 0;
    margin: 10px 0px 10px 0px;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
	/* btn */
    margin: 0px 5px 5px 0px;
	display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #000;
    border: 1px solid #000;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.2rem;

    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {	
	color: #fff;
    background-color: #222;
    border-color: #222;
}

.allauth-form-inner-content a {
	color: #bc40ff; /* text-info */
}

/* ========== Media Queries ========== */

.profile-content {
    background-color: #430067;
    background-image: linear-gradient(90deg, rgb(188, 44, 215, 0.5), rgb(188, 64, 255, 0.5), rgb(188, 44, 215, 0.5));
    border-radius: 0.2rem;
}

/* ========== Media Queries ========== */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
        max-width: 80%;
    }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }
    .event-description {
        background-color: #bc40ff;
        background-image: linear-gradient(90deg, rgb(188, 44, 215), rgb(188, 64, 255), rgb(188, 44, 215));
        border-radius: 0 0.2rem 0.2rem 0;
    }
}