<div class="d-none d-lg-block">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item d-block d-md-none">
            <a class="nav-link text-light" href="{% url 'home' %}">
                Home
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light my-0" href="{% url 'events' %}">
                Tickets & Events
                <span class="icon">
                    <i class="fas fa-theater-masks"></i>
                </span>
            </a>
        </li>
    </ul>
</div>