<div class="d-none d-lg-block" id="">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item d-block d-md-none">
            <a class="nav-link text-light" href="{% url 'home' %}" id="home-link">
                Home
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link text-light my-0" href="#" id="ticket-event-link" role="button"
                data-bs-toggle="dropdown" aria-expanded="false">
                Tickets & Events
                <span class="icon">
                    <i class="fas fa-angle-down"></i>
                </span>
            </a>
            <ul class="dropdown-menu" aria-labelledby="ticket-event-link">
              <li><a class="dropdown-item" href="{% url 'events' %}">Events</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link text-light my-0" href="#" id="more-information-link" role="button"
                data-bs-toggle="dropdown" aria-expanded="false">
                More
                <span class="icon">
                    <i class="fas fa-angle-down"></i>
                </span>
            </a>
            <ul class="dropdown-menu" aria-labelledby="more-information-link">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light my-0" href="#" id="gift-card-link">
                Gift Cards
                <span class="icon">
                    <i class="fas fa-gift"></i>
                </span>
            </a>
        </li>
    </ul>
</div>