<div id="mySidebar" class="flex-shrink-0 bg-white sidebar text-dark">
    <div>
        <button class="btn btn-position" type="button" onclick="closeNav()">
            <span class="icon">
                <i class="fas fa-times"></i>
            </span>
        </button>
        <p class="d-flex align-items-center py-3 my-3 border-bottom sidebar-m-2">
            <span class="fs-3 fw-semibold">Menu</span>
        </p>
    </div>
    <div class="mobile-nav">
        <a class="text-decoration-none fs-3 text-dark sidebar-m-2" href="{% url 'home' %}" id="home-link">
            Home
        </a>
        <div>
            <button id="eventButton" class="btn btn-toggle fs-4 sidebar-m-1" type="button" onclick="eOpenClose()" aria-expanded="false">
                Tickets & Events
            </button>
            <div id="eventNav" class="event-nav">
                <ul class="list-unstyled btn-toggle-nav">
                    <li><a class="text-decoration-none fs-5 my-2 text-dark" href="{% url 'events' %}">Events</a></li>
                    <li><a class="text-decoration-none fs-5 my-2 text-dark" href="#">Another action</a></li>
                    <li><a class="text-decoration-none fs-5 my-2 text-dark" href="#">Something else here</a></li>
                </ul>
            </div>
        </div>

        <div>
            <button id="moreButton" class="btn btn-toggle fs-4 sidebar-m-1" type="button" onclick="mOpenClose()" aria-expanded="false">
                More
            </button>
            <div id="moreNav" class="more-nav">
                <ul class="list-unstyled btn-toggle-nav">
                    <li><a class="text-decoration-none fs-5 my-2 text-dark" href="#">Action</a></li>
                    <li><a class="text-decoration-none fs-5 my-2 text-dark" href="#">Another action</a></li>
                    <li><a class="text-decoration-none fs-5 my-2 text-dark" href="#">Something else here</a></li>
                </ul>
            </div>
        </div>

    </div>
</div>