<div id="mySidebar" class="flex-shrink-0 bg-white sidebar text-dark">
    <div>
        <button class="btn btn-position" type="button" onclick="closeNav()">
            <span class="icon">
                <i class="fas fa-times"></i>
            </span>
        </button>
        <p class="d-flex align-items-center py-3 my-3 border-bottom sidebar-m-2">
            <span class="fs-3 fw-semibold">Menu</span>
        </p>
    </div>
    <div class="mobile-nav">
        <div>
            <a class="text-decoration-none fs-3 text-dark sidebar-m-2" href="{% url 'home' %}">
                Home
            </a>
        </div>
        <div>
            <a class="text-decoration-none fs-3 text-dark sidebar-m-2" href="{% url 'events' %}">
                Tickets & Events
            </a>
        </div>

        <div>
            <button id="accountButton" class="btn btn-toggle fs-4 sidebar-m-1" type="button" onclick="aOpenClose()" aria-expanded="false">
                {% if request.user.is_authenticated %}
                    {% if request.user.is_superuser %}
                        Account/Management
                    {% endif %}
                    Account
                {% else %}
                    Login/Register
                {% endif %}
            </button>
            <div id="accountNav" class="account-nav">
                <ul class="list-unstyled btn-toggle-nav">
                    {% if request.user.is_authenticated %}
                        {% if request.user.is_superuser %}
                            <li><a class="text-decoration-none fs-5 my-2 text-dark" href="{% url 'event_management' %}">Event Management</a></li>
                        {% endif %}
                        <li><a class="text-decoration-none fs-5 my-2 text-dark"
                            href="{% url 'profiles' %}">My Profile</a></li>
                        <li><a class="text-decoration-none fs-5 my-2 text-dark"
                            href="{% url 'account_logout' %}">Logout</a></li>
                    {% else %}
                    <li><a class="text-decoration-none fs-5 my-2 text-dark"
                        href="{% url 'account_login' %}">Login</a></li>
                    <li><a class="text-decoration-none fs-5 my-2 text-dark"
                        href="{% url 'account_signup' %}">Register</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>

    </div>
</div>